.l-container {
  margin-left: 200px;
  margin-top: 60px; }
  .l-container .row {
    margin-left: 0;
    margin-right: 0; }
  .l-container #mineFrame .pro-situation {
    padding-top: 20px; }
    .l-container #mineFrame .pro-situation #proChart {
      width: 80%;
      height: 400px;
      margin: auto; }
  .l-container #productFrame .row, .l-container #versionFrame .row, .l-container #userFrame .row, .l-container #projectFrame .row {
    padding: 20px 20px 0 20px; }
  .l-container #productFrame .actions .btn, .l-container #versionFrame .actions .btn, .l-container #userFrame .actions .btn, .l-container #projectFrame .actions .btn {
    margin-left: 20px; }

input[type=file] {
  display: none; }
